<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetSit"
        tools:targetApi="31">
        <activity
            android:name=".RegistrarAnimalActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilRefugiosActivity"
            android:exported="false" />
        <activity
            android:name=".SolicitudesActivity"
            android:exported="false" />
        <activity
            android:name=".ReportesActivity"
            android:exported="false" />
        <activity
            android:name=".MisAnimalesActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRefugioActivity"
            android:exported="false" />
        <activity
            android:name=".ReportarMascotaEncontradaActivity"
            android:exported="false" />
        <activity
            android:name=".ReportarMascotaActivity"
            android:exported="false" />
        <activity
            android:name=".AjustesUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".PetShopActivity"
            android:exported="false" />
        <activity
            android:name=".RefugiosActivity"
            android:exported="false" />
        <activity
            android:name=".MascotaEncontradaActivity"
            android:exported="false" />
        <activity
            android:name=".MascotaPerdidaActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroMascotaActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarClaveActivity"
            android:exported="false" />
        <activity
            android:name=".MenuRefugioActivity"
            android:exported="false" />
        <activity
            android:name=".MenuUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroRefugioActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false"
            android:label="@string/registro"
            android:theme="@style/Theme.PetSit" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PetSit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>